include CHANGELOG
include LICENSE
include README.rst
recursive-include examples *.py
recursive-include tests *.py
recursive-include shapeout2 *.css *.png *.py *.svg *.theme *.ui COPYING* LICENSE README
