# Any additional requirements for building the application
# https://github.com/ZELLMECHANIK-DRESDEN/ShapeOut2/issues/64
numpy<1.19.4
# https://github.com/pyinstaller/pyinstaller/issues/5004
pyinstaller>=4.2
# pyinstaller is missing a hook for the latest release of scipy
scipy<1.5.0

